ol {
    margin-left: 1.5rem;
}

@media screen and (min-width: 481px) {

    .session {
        margin: 2rem 0;
        padding: 0 0.5rem;
        /* border: 2px solid #444; */
        /* background-color: var(--clr-light-orange); */
    }

    .sockets-img {
        width: 75%;
        height: auto;
    }

}