.main-container {
    padding: 0 5rem;
}

ol, ul {
    margin-left: 2rem;
}

.topic {
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    background-color: rgb(180, 180, 180);
}

@media screen and (min-width: 481px) {

    .personalpage-title {
        text-align: center;
    }

    .personalpage-subtitle {
        text-align: justify;
        padding: 1.5rem;
    }

    .podcasts {
        display: flex;
        align-items: flex-start;
    }

    .radiolab,
    .thinkerview,
    .thegreatsimplification,
    .metadechoc {
        display: flex;
        gap: 5vh;
        align-items: center; /* align items vertically */
    }

    .podcast-description {
        width: 70%;
    }

    .podcasts-img img {
        width: 150px;
        margin: auto;

    }

}

@media(max-width: 481px) {

    .main-container {
        margin: 1rem 1rem;
    }

    .personalpage-title {
        text-align: center;
        text-decoration: underline;
    }

    .personalpage-subtitle {
        text-align: justify;
        padding: 1.5rem;
    }

    .main-container p {
        padding: 1rem;
        text-align: justify; /* justify text */ 
    }

    .podcasts,
    .books,
    .sport {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .radiolab,
    .thinkerview,
    .thegreatsimplification,
    .metadechoc {
        display: flex;
        flex-direction: column;
        gap: 5vh;
        align-items: center; /* align items vertically */
    }

    .podcast-description {
        width: 100%;
    }

    .podcasts-img img {
        width: 150px;
        margin: auto;

    }
}