@import url("index_style.css");

.main-container {
    position: relative;
    height: 100vh;
}

.home-title {
    margin-left: 5em;
}

.inner-link {
    font-style: italic;
    color: var(--clr-dark);
}

.inner-link:hover {
    text-decoration: underline;
}

@media screen and (min-width: 481px) {
    .projects-container {
        display: flex; /* Use flexbox for layout */
        justify-content: center; /* Distribute boxes evenly across the container */
        align-items: center; /* Center vertically */
        max-height: 90%; /* Set a height for the container */
         height: 90%; /*Set a height for the container */
        background-color: orange;
        margin: 10px 0;
        padding: 0;
        text-decoration: none;
    }

    .project {
        display: flex; /* Use flexbox for layout */
        flex-direction: column; /* Align items vertically */
        justify-content: center; /* Distribute boxes evenly across the container */
        align-items: center; /* Center vertically */
        height: 90%; /* Set a height for the container */
        text-decoration: none;
    }

    .project {
        border: solid #444;
        height: 100%;
        text-align: center;
        width: 50%;
    }

    .project a {
        color: #444;
    }



}