.main-container a {
    color: #444;
}

.home-title {
    margin-left: 5em;
}

.inner-link {
    font-style: italic;
    color: var(--clr-dark);
}

.inner-link:hover {
    text-decoration: underline;
}

@media screen and (min-width: 481px) {

    .portofolio-title {
        text-align: center;
    }

    .main-container p {
        padding: 1rem;
        text-align: justify; /* justify text */ 
    }

    .main-container ul {
        padding-left: 3em;
    }

    .resume, .education {
        display: flex;
    }

    .projects-container {
        position: relative;
        max-height: 150%; /* Set a height for the container */
        height: 150%; /*Set a height for the container */
        display: flex; /* Use flexbox for layout */
        flex-direction: column;
        justify-content: space-between; /* Distribute boxes evenly across the container */
        align-items: center; /* Center vertically */
        height: 100%; /*Set a height for the container */
        background-color: rgb(255, 186, 58);
        width: 50%;
        margin: 0 0;
    }

    .projects-container h2 {
        margin-bottom: 1rem;
        width: max-content;
    }

    .projects-container.active1 {
        background-image: url(images/enib.webp);
    }
    
    .projects-container div {
        text-decoration: overline;
        line-height: 200%;
        text-align: center;
        width: 100%;
    }

    .projects h3 {
        line-height: 300%;
        text-align: start;
        border-top: 2px solid #444;
        width: 50%;
    }

    .project a {
        font-size: 1.5rem;
        color: var(--clr-dark);
    }

    .projects-container a:hover {
        transition-property: all;
        transition-duration: 1.5s;
        transition-delay: 0s;
        transform: scale(130%);
    }

    .hover-image1, .hover-image2, .hover-image3, .hover-image4, .hover-image5, .hover-image6 {
        position: relative;
        width: 0;
        visibility: hidden;
    }

    .hover-image1.active, .hover-image2.active, .hover-image3.active, .hover-image4.active, .hover-image5.active, .hover-image6.active {
        position: relative;
        margin: 1rem auto;
        width: 40vh;
        object-fit: cover; /* Ensure the image covers the container */
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s ease; /* Add a smooth transition for opacity */
    }

    .pictures {
        display: flex;
    }

    .pic1, .pic2, .pic3, .pic4 {
        width: 50%;
    }

}