h4 {
    margin: 0 1rem 1rem 1rem;
    padding: 0.5rem;
    border: 1px solid #333;
    text-decoration: underline;
    background-color: orange;
}

li {
    padding-left: 1rem;
}

ol {
    margin-left: 1.5rem;
}

.keywords {
    margin: 0 1rem 1rem 1rem;
    padding: 0.5rem;
    border: 1px solid #333;
    font-weight: bold;
    background-color: rgb(254, 196, 88);
}

.math {
    outline: 2px solid orange;
}

.frame-highlight {
    background-color: rgb(255, 211, 154);
    margin: 0.5rem;
}

.terminal {
width: 400px;
height: 300px;
background-color: #000;
color: #00FF00;
font-family: 'Courier New', monospace;
border: 1px solid #00FF00;
border-radius: 5px;
overflow: hidden;
box-shadow: 0px 0px 10px #00FF00;
}

.header {
background-color: #00FF00;
padding: 5px;
display: flex;
justify-content: space-between;
align-items: center;
color: #000;
}

.buttons {
display: flex;
}

.button {
width: 12px;
height: 12px;
border-radius: 50%;
margin-right: 5px;
}

.close { background-color: #FF0000; }
.minimize { background-color: #FFA500; }
.maximize { background-color: #00FF00; }

.output {
margin: 0;
padding: 10px;
white-space: pre-wrap;
overflow-y: auto;
}

.input {
display: flex;
align-items: center;
padding: 5px;
background-color: #000;
}

span {
padding-right: 5px;
}

input[type="text"] {
background-color: transparent;
border: none;
outline: none;
color: #00FF00;
font-family: 'Courier New', monospace;
width: 100%;
}

@media screen and (min-width: 481px) {
    
    .main-container p {
        text-align: justify; /* justify text */
        margin: 0.75rem;
    }

    .enib-logo {
        padding-bottom: 20px;
        display: block;
        justify-self: center;
        border-radius: 30%;
        width: 20%;
        margin-left: auto;
        margin-right: auto;
    }

    .enib-link {
        width: 50%;
        height: fit-content;
    }

    .accordion-y4 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        text-align: left;
        border: 2px solid #333;
        background-color: lightgrey;
    }

    .accordion-y4 .subject-container {
        position: relative;
        border: solid orange;
        padding: 0.5rem;
        margin: 1rem 0;
    }

    .accordion-y4 .subject-container:hover {
        background-color: #dedede;
    }

    .accordion-y4 .label {
        cursor: pointer;
        position: relative;
    }

    .accordion-y4 .label::before {
        content: '+';
        color: black;
        position: absolute;
        top: 50%;
        right: -1px;
        font-size: 30px;
        transform: translateY(-50%);
      }

    .accordion-y4 .content {
        position: relative;
        background-color: #f0f0f0;
        height: 0;
        text-align: justify;
        width: 98%;
        overflow: hidden;
        transition: 0.5s;
      }

    .accordion-y4 .subject-container.active .content {
        height: fit-content;
        margin: 1rem 0.3rem 0.3rem 0.3rem;
        cursor:auto;
    }

    .accordion-y4 .subject-container.active .label::before {
        content: '-';
        font-size: 30px;
    }
    
}