@import url("index_style.css");

h4 {
    margin: 0 1rem 1rem 1rem;
    padding: 0.5rem;
    border: 1px solid #333;
    text-decoration: underline;
}

li {
    padding-left: 1rem;
}

.mark {
    font-weight: bold;
    text-decoration: underline;
}

.keywords {
    margin: 0 1rem 1rem 1rem;
    padding: 0.5rem;
    border: 1px solid #333;
    font-weight: bold;
}

@media screen and (min-width: 481px) {

    .main-container {
        position: absolute;
    }
    
    .main-container p {
        text-align: justify; /* justify text */ 
    }

    .enib-logo {
        padding-bottom: 20px;
        display: block;
        justify-self: center;
        border-radius: 30%;
        width: 20%;
        margin-left: auto;
        margin-right: auto;
    }

    .enib-link {
        width: 50%;
        height: fit-content;
    }

    .accordion-y4 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        text-align: left;
        border: 2px solid #333;
        background-color: lightgrey;
    }

    .accordion-y4 .subject-container {
        position: relative;
        border: solid orange;
        padding: 0.5rem;
        margin: 1rem 0;
    }

    .accordion-y4 .subject-container:hover {
        background-color: #dedede;
    }

    .accordion-y4 .label {
        cursor: pointer;
        position: relative;
    }

    .accordion-y4 .label::before {
        content: '+';
        color: black;
        position: absolute;
        top: 50%;
        right: -1px;
        font-size: 30px;
        transform: translateY(-50%);
      }

    .accordion-y4 .content {
        position: relative;
        background-color: #f0f0f0;
        height: 0;
        text-align: justify;
        width: 98%;
        overflow: hidden;
        transition: 0.5s;
      }

    .accordion-y4 .subject-container.subj-active .content {
        height: fit-content;
        margin: 1rem 0.3rem 0.3rem 0.3rem;
        cursor:auto;
    }

    .accordion-y4 .subject-container.subj-active .label::before {
        content: '-';
        font-size: 30px;
    }
    
}