*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* every measurement/size is given with padding and border*/
}

.wink::after {
    content: "😉";
    font-size: 1rem;
}

/* Custom properties */
:root {
    --ff-primary: 'Audiowide', sans-serif; 
    --ff-secondary: 'Trirong', sans-serif;
    --ff-regular: 'Open Sans';
    --ff-robot: 'Courier New', Courier, monospace;
    /* ff stands for 'font family' */

    --clr-light: papayawhip;
    --clr-light-orange: rgb(253, 209, 127);
    --clr-dark: #333;
    /* clr stands for 'color' */

    --fw-bold: 800;
    --fw-regular: 300;
    --fw-light: 200;

    --fs-h1: 2.5rem;
    --fs-h2: 2rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    /* fs stands for 'family size' */
} 

/* General styles */

body { /* set default characteristics within the body */
    background: var(--clr-light);
    color: #333;
    /* color: rgb(83, 141, 228); text color */
    font-family: var(--ff-regular);
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
}

img { /* set default characteristics for images */
    display: block;
    width: 100%;
    height: auto;
}

strong {
    font-weight: var(--fw-bold);
}

/* Typography */

h1, h2, h3 {
    line-height: 1.2;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { 
    font-size: var(--fs-h2); 
    font-family: var(--ff-subtitle);
    border-top: 5px var(--clr-dark) solid;
    width: 50%;
}
h3 { font-size: var(--fs-h3); }

section {
    padding: 1em; /* amount of void on sections edges */ 
}

.title {
    margin-bottom: 0.2rem;
    font-family: var(--ff-regular);
}

strong {
    display: block;
    font-family: var(--ff-primary);
    font-size: var(--fs-h1);
}

.subtitle {
    margin: 0;
    background: orange;
    width: fit-content;
    font-size: var(--fs-h3);
    font-family: var(--ff-robot);
}

nav, button {
    display: none;
}

/* Introduction */

.intro, .aboutme, .my_activities {
    position: relative;
}

/* if the screen has a minimum-width of 600px */
@media (min-width: 600px) {
    .intro {
        /* display: flex;
        justify-content: space-evenly; */
        margin: auto 1em;
        padding: 1em auto;
        height: 65vh;
    }

    .background-climbing img{
        width: 50%;
    }

    /* intro config */
    .img--intro {
        position: relative;
        border: 2px #444 dashed;
        width: 250px;
        height: auto;
        border-radius: 50%;
        margin: 1em auto 0 35%;
        background-color: orange;
    }

    .background-circle--intro {
        background-color: var(--clr-dark);
        border-radius: 50%;
        height: 100px;
        width: 100px;
        border: 2px orange dashed;
        margin: 0 auto;
    }

    .circle1--intro {
        position: absolute;
        top: 0;
    }

    .circle2--intro {
        position: absolute;
        left: -10%;
        top: 37%;
    }

    .circle3--intro {
        position: absolute;
        bottom: 0;
        font-size: smaller;
    }

    .background-circle--intro p{
        font-family: var(--ff-secondary);
        font-size: 14px;
        text-align: center;
        line-height: 1em;
        margin: 1em auto;
        color: papayawhip;
    }

    .img--intro img {
        width: 250px;
        height: auto;
        border-radius: 50%;
        margin: 0 auto 0 30%;
    }

    .text-frame--intro {
        background-color: var(--clr-dark);
        color: var(--clr-light);
        height: fit-content;
        padding: 1em;
        margin: 1em auto;
        position: absolute;
        bottom: 0;
        border-radius: 3em;
    }

    .seemore {
        text-align: center;
        font-family: var(--ff-primary);
        border-top: 8px var(--clr-dark) double;
        border-bottom: 8px var(--clr-dark) double;
        margin: 0 1em;
    }

    .flexbox-projects {
        display: flex;
        gap: 35vh;
        margin: 1em auto;
        padding-top: 0;
    }

    .project {
        position: relative;
        width: 27vh;
        height: 60vh;
        background-color: orange;
        border: 2px var(--clr-dark) dashed;
        border-radius: 3em;
    }

    .project h1 {
        font-family: var(--ff-robot);
        text-align: center;
        position: absolute;
        top: 25%;
        width: 100%;
        font-size: 1.7em;
    }
    
/* footer config */
    .footer {
        background: var(--clr-dark);
        font-family: var(--ff-regular);
        width: 100%;
        color: white;
    }
    
    .information {
        margin-left: 0;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 280px 280px;
        grid-column-gap: 20px;
    }

    .information p {
        display: block;
        margin: 1em 0;
        background-color: orange;
        text-indent: 0.5em;
        width: 280px;
    }
    
    .thanks {
        background-color: orange;
    }

    .thanks p {
        margin: 0;
        height: min-content;
    }

    .contacts h3, .mywork h3 {
        width: 100%;
    }
    
    .email-link, .linkedIn-link, .discord-pseudo, .gitHub-link {
        line-height: 2em;
        border: 2px var(--clr-dark) dashed;
    }  
}

@media(max-width: 600px) {
    /* footer config */
    .footer {
        background: var(--clr-dark);
        font-family: var(--ff-regular);
        width: 100%;
        color: papayawhip;
    }
        
    .information {
        display: grid;
        grid-template-rows: auto auto;
        grid-row-gap: 10px;
    }

    .thanks {
        background-color: orange;
    }
    
    .contacts h3 {
        width: 100%;
    }
    
    .information p {
        display: block;
        background: orange;
        width: 100%;
        text-indent: 10px;
    }
    
    .mywork h3 {
        margin-top: 1em;
        width: 100%;
    }
    
    .email-link, .linkedIn-link, .discord-pseudo, .gitHub-link {
        line-height: 2em;
        border: 2px #444 dashed;
    }
    
    .thanks p {
        margin: 0;
    }
}

.noDisplay {
    display: none;
}
