/* if the screen has a minimum width of 600px */
@media screen and (min-width: 481px) {

    footer {
        margin-top: 10px;
        background-color: var(--clr-light-dark);
        font-family: var(--ff-regular);
        width: 100%;
        color: var(--clr-light);
    }

    .information {
        padding: 1rem;
        margin-left: 0;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 300px 300px 300px;
        grid-column-gap: 75px;
    }

    .information p {
        display: inline-block;
        background-color: orange;
        text-indent: 0.5em;
        width: 350px;
        border: 2px #444 dashed;
        line-height: 2em;
    }

    .email-link:hover,
    .linkedIn-link:hover,
    .discord-pseudo:hover,
    .github-link:hover {
        font-weight: bold;
    }

    .thanks {
        background-color: orange;
    }

    .thanks p {
        margin: 0;
        height: min-content;
    }

}

@media(max-width: 481px) {

    /* footer config */
    
    .footer {
        background: var(--clr-dark);
        font-family: var(--ff-regular);
        width: 100%;
        color: var(--clr-light-grey);
    }

    .information {
        display: grid;
        grid-template-rows: auto auto;
        grid-row-gap: 10px;
    }

    .information h3 {
        text-decoration: underline;
    }

    .information p {
        display: block;
        background: orange;
        width: 100%;
        text-indent: 10px;
    }
    
    .email-link,
    .linkedIn-link,
    .discord-pseudo,
    .github-link {
        line-height: 2em;
        border: 2px #444 dashed;
    }

    .email-link:hover,
    .linkedIn-link:hover,
    .discord-pseudo:hover,
    .github-link:hover {
        font-weight: bold;
    }
    
    .thanks p {
        margin: 0;
    }

}