/* if the screen has a minimum width of 600px */
@media screen and (min-width: 481px) {

    nav {
        text-align: center;
        background-color: var(--clr-dark);
    }

    nav li {
        color: var(--clr-light-grey);
        display: inline-block; /* align list elements in a row */
        margin-inline: 1rem 3rem;
        top: 0;
        visibility: visible;
        text-align: center;
        line-height: 75px; /* Vertically center the text inside the items */
    }

    nav li a {
        font-size: 1.5rem;
    }

    nav li a:hover {
        text-decoration: overline;
        font-size: 1.65rem;
    }

    .home-title::before {
        content: url(../../images/home.svg);
        padding-right: 20px;
    }

}