*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* every measurement/size is given with padding and border*/
}

.wink::after {
    content: "😉";
    font-size: 1rem;
}

/* Custom properties */
:root {
    --ff-primary: 'Audiowide', sans-serif; 
    --ff-secondary: 'Trirong', sans-serif;
    --ff-regular: 'Open Sans';
    --ff-robot: 'Courier New', Courier, monospace;
    /* ff stands for 'font family' */

    --clr-light: papayawhip;
    --clr-light-grey: #f0f0f0;
    --clr-light-orange: rgb(253, 209, 127);
    --clr-light-dark: #333;
    --clr-dark: rgb(0, 0, 0);
    /* clr stands for 'color' */

    --fw-bold: 800;
    --fw-regular: 300;
    --fw-light: 200;

    --fs-h1: 4.25rem;
    --fs-h2: 3.25rem;
    --fs-h3: 2.25rem;
    --fs-h4: 2rem;
    --fs-h5: 1.6rem;
    --fs-std: 1.35rem;
    /* fs stands for 'family size' */
} 

/* General styles */

body { /* set default characteristics within the body */
    color: var(--clr-dark);
    font-family: var(--ff-regular);
    font-size: var(--fs-std);
    font-weight: var(--fw-regular);
    border:  0.5em var(--clr-light-dark) solid;
    background: var(--clr-light-grey);
    text-align: justify;
}

p {
    line-height: 2.5rem;
}

img { /* set default characteristics for images */
    display: block;
    width: 100%;
    height: auto;
}

/* Typography */

h1, h2, h3 {
    line-height: 1.2;
    margin: 0;
}

h1 { 
    font-size: var(--fs-h1);
    /* border-bottom: 5px var(--clr-dark) solid; */
    line-height: 1.25;
    padding-top: 1rem;
    text-align: center;
    font-family: var(--ff-primary);
}

h2 { 
    font-size: var(--fs-h2); 
    font-family: var(--ff-subtitle);
    border-top: 5px var(--clr-dark) solid;
    width: 100%;
    line-height: 1.4;
    font-weight: bold;
    /* margin-top: 0.5rem; */
}

h3 { 
    font-size: var(--fs-h3);
    line-height: 1.3;
}

h4 {
    font-size: var(--fs-h4);
    width: 75%;
    margin: 1rem 0rem;
    padding: 0.25rem;
    border: 1px solid #333;
    text-decoration: underline;
    background-color: orange;
    line-height: 1.2;
}

h5 {
    font-size: var(--fs-h5);
    width: fit-content;
    margin: 1rem 0rem;
    padding: 0.25rem;
    /* border: 1px solid #333; */
    text-decoration: underline;
    background-color: var(--clr-light-orange);
    line-height: 1.1;
}

section {
    padding: 1em; /* amount of void on sections edges */ 
}

a {
    text-decoration: none;
    color: var(--clr-light);
    font-weight: bold;
    font-style: italic;
}

strong {
    display: block;
    font-family: var(--ff-primary);
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
}

button {
    font-family: var(--ff-primary);
    font-size: var(--fs-std);
    font-weight: var(--fw-bold);
    background-color: var(--clr-light-orange);
    border: 2px solid var(--clr-dark);
    border-radius: 5px;
    padding: 0.5em;
    margin: 1em;
    cursor: pointer;
}

.home-title {
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h4);
}

.mark {
    font-weight: bold;
    text-decoration: underline;
    /* font-size: 1.25rem; */
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.main-container {
    position: relative;
    padding: 1rem 3rem;
}

hr {
    border: 3px solid var(--clr-dark);
    margin: 0.75rem 0;
}

.linux-terminal {
    font-family: 'Courier New', monospace;
    background-color: #000000;
    color: greenyellow;
    border: 5px solid gray;
    width: 100%;
    padding-left: 0.5rem;
    /* margin-bottom: 1rem; */
}

.linux-terminal div {
    line-height: 200%;
    text-align:start;
    width: 100%;
}

.frame-highlight {
    background-color: var(--clr-light-orange);
    margin: 0.5rem;
    border: 3px solid #444;
    padding: 0.25rem;
    /* width: 100%; */
}

.page-subtitle {
    margin: 1rem 0;
    padding: 0.5rem;
    text-align: justify;
    background-color: var(--clr-light-orange);
    /* width: fit-content; */
}



